@import "tailwindcss";

:root {
  font-family: "Inter", system-ui, sans-serif;
}

body {
  font-family: "Inter", system-ui, sans-serif;
}

.bg-grid-white {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}
